
GO
/****** Object:  StoredProcedure [dbo].[MiFei_config]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MiFei_config]
as begin  

--http请求url配置
select  'http://192.168.10.237:8086/jdApi/' url,    --生产服务器
		'65462667378bd9' dbid
		--'http://192.168.28.61:8086/jdApi/' url,    --UAT
		--'695f7f5e7ad0a4' dbid


--select * from MiFei_logs

end 
GO
/****** Object:  StoredProcedure [dbo].[MiFei_MATERIAL]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--物料
CREATE PROC  [dbo].[MiFei_MATERIAL]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:WMS预期到货通知取消标记；列2：物料表名；列3：表对应主键
select 'jdWmsItem' method,'T_BD_MATERIAL' [table],'FMATERIALID' tableid
		
select 
	'100' companyCode
	,'弥费上海仓' companyName
	,REPLACE(m.Fnumber,' ', ' ')code
	,Fname name
	,u.FNUMBER baseUnit
	,FPRECISION bu_precision
	,IIF(FCHECKINCOMING =0, '免检', '质检') inspection
	,case when isnull(FIsEnable,0)=0 then 'false' else  'true' end beVersion
from T_BD_MATERIAL m
left join T_BD_MATERIAL_L mL on mL.FMATERIALID=m.FMATERIALID and m.FMASTERID=m.FMATERIALID and mL.FLOCALEID=2052
left join T_BD_MATERIALQUALITY mq on mq.FMATERIALID=m.FMATERIALID and m.FMASTERID=m.FMATERIALID
left join T_BD_MATERIALBASE mb on mb.FMATERIALID=m.FMATERIALID and m.FMASTERID=m.FMATERIALID
left join T_BD_UNIT u on u.FUNITID=mb.FBASEUNITID
left join T_BD_MATERIALAUXPTY aux on aux.FMATERIALID=m.FMATERIALID 
where 1=0 and fcreateOrgid=1 and M.FMATERIALID= @fid



select 
	u.fnumber unit
	,'1' convertFigure
	,FSPECIFICATION specifications
from T_BD_MATERIAL m
left join T_BD_MATERIAL_L mL on mL.FMATERIALID=m.FMATERIALID and m.FMASTERID=m.FMATERIALID and mL.FLOCALEID=2052
left join T_BD_MATERIALBASE mb on mb.FMATERIALID=m.FMATERIALID and m.FMASTERID=m.FMATERIALID
left join T_BD_UNIT u on u.FUNITID=mb.FBASEUNITID
where M.FMATERIALID= @fid





END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_PRD_INSTOCK]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--生产入库
CREATE PROC  [dbo].[MiFei_PRD_INSTOCK]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsAsn' method,'T_PRD_INSTOCK' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,(select top 1 b.FNUMBER  from  T_PRD_INSTOCKENTRY a left join T_BD_DEPARTMENT b on b.FDEPTID=FWORKSHOPID where fid=fin.FID) FDEPTID		--部门、车间
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
from T_PRD_INSTOCK fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPE
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
where 1=0 and FPRDORGID=1 and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'')  version				--版本
	,u.FNUMBER packageName		--库存单位
	,FREALQTY qty				--数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.FNAME FStockStatusId 		--库存状态
from T_PRD_INSTOCK fin
left join T_PRD_INSTOCKENTRY fins on fin.fid=fins.FID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)


END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_PRD_PickMtrl]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--生产领料
CREATE PROC  [dbo].[MiFei_PRD_PickMtrl]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPicket' method,'T_PRD_PickMtrl' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,(select top 1 b.FNUMBER  from  T_PRD_PICKMTRLDATA a left join T_BD_DEPARTMENT b on b.FDEPTID=FWORKSHOPID where fid=fin.FID) FDEPTID		--部门、车间
	,war.FNUMBER FSTOCKERID		--仓管员
	,isnull(s.FNUMBER,'') FPickerId
	,isnull(s.FSTAFFNUMBER,'') pickerCode
from T_PRD_PickMtrl fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPE
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
left join T_BD_STAFF s on s.FSTAFFID=fin.FPICKERID 
where 1=1 and FPRDORGID=1 and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'') version				--版本
	,u.FNUMBER packageName		--库存单位
	,FACTUALQTY qty				--数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.fname FStockStatusId 		--库存状态
	,isnull(cus.fnumber,'') F_Projiect
	,isnull(dep.fnumber,'') FEntryWorkShopId

	,mp.fnumber        FParentMaterialId
	,u.FNUMBER         FUnitId
	,u1.FNUMBER        FSTOCKUNITID
	,fAppQty
	,FStockActualQty
	,finsa.FOwnerTypeId
	,FParentOwnerTypeId
	,org.fnumber      FOwnerId
	,org1.fnumber      FParentOwnerId
	,FMoId
	,FMoEntryId
	,FOptQueue 
	,FOperId
	,FPPBomBillNo
	,FPPBomEntryId
	,FSRCINTERID  FEntrySrcInterId
	,FSRCENTRYID  FEntrySrcEnteryId

	,FSrcBillType
	,FSrcBillNo 
	,FSRCENTRYSEQ  
	,FMoBillNo  
	,FMoEntrySeq 
	,FReqSrc 
	,FReqBillNo 
	,FReqEntrySeq 
	,'PRD_PPBOM2PICKMTRL_NORMAL' FPURMRBENTRY_Link_FRuleId
	,'T_PRD_PPBOMENTRY'			FPURMRBENTRY_Link_FSTableName 
	,FSBILLID					FPURMRBENTRY_Link_FSBillId 
	,FSID						FPURMRBENTRY_Link_FSId 
	,'81119477-4778-4d0b-94b9-1c43a1c1f768'  FEntity_Link_FFlowId
	,'81119477-4778-4d0b-94b9-1c43a1c1f768'  FBFLowId
from T_PRD_PickMtrl fin
left join T_PRD_PICKMTRLDATA fins on fin.fid=fins.FID
left join T_PRD_PICKMTRLDATA_a finsa on finsa.FENTRYID=fins.FENTRYID
left join T_PRD_PICKMTRLDATA_lk finsl on finsl.FENTRYID=fins.FENTRYID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_MATERIAL mp on mp.FMATERIALID=FParentMaterialId
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_UNIT u1 on u1.FUNITID=fins.FSTOCKUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
left join mfsy_t_Cust100006 cus on cus.fid=fins.F_ProjiectNO
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fins.FWorkShopId
left join T_ORG_ORGANIZATIONS org on org.FORGID=finsa.FOwnerId
left join T_ORG_ORGANIZATIONS org1 on org1.FORGID=finsa.FParentOwnerId


where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_PRD_ReturnMtrl]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--生产退料
CREATE PROC  [dbo].[MiFei_PRD_ReturnMtrl]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsAsn' method,'T_PRD_ReturnMtrl' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,(select top 1 b.FNUMBER  from  T_PRD_ReturnMtrlENTRY a left join T_BD_DEPARTMENT b on b.FDEPTID=FWORKSHOPID where fid=fin.FID) FDEPTID		--部门、车间
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
from T_PRD_ReturnMtrl fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPE
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
where 1=0  and FPRDORGID=1  and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,ass.fnumber version				--版本
	,u.FNUMBER packageName		--库存单位
	,FQTY qty				--数量
	,fins.FLOT_TEXT MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.fname FStockStatusId 		--库存状态
from T_PRD_ReturnMtrl fin
left join T_PRD_ReturnMtrlENTRY fins on fin.fid=fins.FID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_PUR_MRB]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--采购退料
CREATE PROC  [dbo].[MiFei_PUR_MRB]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:出库接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPicket' method,'T_PUR_MRB' [table],'fid' tableid
		
select 
distinct
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,isnull(dep.FNUMBER,'') FDEPTID		--部门、车间
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
	--,F_ASNFbillno UpstreamNo  --上游单据号

	,case when fins.FORDERNO<>'' then fins.FORDERNO else F_ASNFbillno end UpstreamNo  --上游单据号
	,(SELECT top 1 b.FCAPTION FROM T_META_FORMENUMITEM a
		LEFT JOIN T_META_FORMENUMITEM_L b ON a.FENUMID=b.FENUMID AND b.FLOCALEID=2052
		WHERE a.FID='6cd63b61-ecbc-4ea7-be65-fde47eb01b7e' and a.FVALUE=FMRTYPE)  FMRTYPE   --退料类型
	,(SELECT top 1 b.FCAPTION FROM T_META_FORMENUMITEM a
		LEFT JOIN T_META_FORMENUMITEM_L b ON a.FENUMID=b.FENUMID AND b.FLOCALEID=2052
		WHERE a.FID='c9d3b266-6698-4424-be1b-05c299727297' and a.FVALUE=FMRMODE) FMRMODE	--退料方式
	,isnull(assl.FDATAVALUE,'') FMRREASON 
from T_PUR_MRB fin
left join T_PUR_MRBENTRY fins on fin.fid=fins.FID
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
left join T_BD_DEPARTMENT dep on dep.FDEPTID=FMRDeptId
left join T_BAS_ASSISTANTDATAENTRY ass on ass.FENTRYID=FMRREASON
LEFT JOIN T_BAS_ASSISTANTDATAENTRY_L assl ON assl.FENTRYID=ass.FENTRYID AND assl.FLOCALEID=2052
where 1=0  and FPURCHASEORGID=1 and bi.FNUMBER in ('TLD01_SYS')
and fin.fid= @fid





select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,ass.fnumber version				--版本
	,u.FNUMBER packageName		--库存单位
	,FRMREALQTY qty				--实退数量
	,fins.FLOT_TEXT MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	--,ss.FNAME FStockStatusId 		--库存状态
	,case when FMRTYPE='A' THEN '不良' else ss.FNAME   end FStockStatusId 		--库存状态，质检退料：不良状态
from T_PUR_MRB fin
left join T_PUR_MRBENTRY fins on fin.fid=fins.FID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_l ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_PUR_POXChange]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--采购订单新变更
CREATE PROC  [dbo].[MiFei_PUR_POXChange]
@fid nvarchar(25)--物料主键

AS
BEGIN

	declare  @FPKIDX varchar(100),@Effective varchar(10),@status varchar(10);
	set @FPKIDX=( select FPKIDX from  t_PUR_XPOOrder  where fid=@fid)
	set @status=( select FDOCUMENTSTATUS from  t_PUR_XPOOrder  where fid=@fid)


if @status='B'   --提交
BEGIN

select 'jdWmsPo' method,'T_PUR_XPOORDER' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,case when FBusinessType='CG' THEN 'CGDD01_SYS'
		  when FBusinessType='WW' then 'CGDD02_SYS' END billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,'false' Effective		--生效标识
	,org.FNUMBER FStockOrgId		--收料组织
	,org.FNUMBER FPurOrgId		--
	,CONVERT(VARCHAR(19), fin.FDATE, 120) Fdate			--订单日期
	,sup.FNUMBER FSupplierId		--供应商
	,isnull(dep.FNUMBER,'') FPurDeptId
	,buy.FNUMBER FPurchaserId
    ,isnull(cus.fnumber,'') F_Projiect1		--项目编码
	,isnull(dep2.FNUMBER,'') F_VACI_Base_BM		--申请部门
	,isnull(sta.FNUMBER,'') FApplicantId		--申请人
	,isnull(sta.FSTAFFNUMBER,'') applicantCode		--申请人(任刚编码，回传用)
	,pay.FNUMBER FPayConditionId		--付款条件
from t_PUR_POOrder fin
left join T_PUR_POORDERFIN finf on finf.fid=fin.FID
--left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join T_ORG_ORGANIZATIONS org on org.FORGID=fin.FPurchaseOrgId
left join T_BD_SUPPLIER sup on sup.FSUPPLIERID=fin.FSupplierId
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FPurchaseDeptId
left join T_BD_DEPARTMENT dep2 on dep2.FDEPTID=fin.FAPPLICATIONDEPTID
left join T_BD_STAFF sta on sta.FSTAFFID=fin.FAPPLICANTID
left join mfsy_t_Cust100006 cus on cus.fid=fin.F_MFSY_BASE
left join V_BD_BUYER buy on buy.fid=fin.FPurchaserId
left join T_BD_PAYMENTCONDITION pay on pay.fid=finf.FPayConditionId
where 1=0 and FPurchaseOrgId=1  and  fin.FBUSINESSTYPE IN ('CG','WW')
and fin.fid= @FPKIDX

select 
	fins.FENTRYID [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,mal.FSPECIFICATION specifications				--物料规格
	,isnull(CONVERT(VARCHAR(19), FDELIVERYDATE, 120),'') delivery		--交货日期
	,isnull(CONVERT(VARCHAR(19), F_VACI_DATETIME_APV, 120),'')  expectation		--PR期望到货日期
	,isnull(CONVERT(VARCHAR(19), F_VACI_DATE_QTR, 120),'')+''  newexpectation			--PR新期望到货日期
	,u.FNUMBER packageName
	,FQTY Completeqty							--收货完成数量
    ,isnull(cus.fnumber,'')	 F_Projiect			--项目编码
	,FQTY FActReceiveQty			--交货数量
	,FQTY FPriceUnitQty			--计价数量
	,u.fnumber FUnitId					--收料单位
	,u.fnumber FPriceUnitId			--计价单位
	,FTaxPrice 				--含税单价
	,FTAXRATE FEntryTaxRate			--税率
	,FTAXAMOUNT FEntryTaxAmount			--税额
	,isnull(CONVERT(VARCHAR(19), FPREARRIVALDATE, 120),'')  FPreDeliveryDate 		--预计到货日期
	,FGiveAway			--是否赠品
	,isnull(ass.fnumber,'') FAuxPropId			--版本
	,FLot				--批号
	,isnull(cus.F_PJSN,'') F_VACI_Text_qtr		--项目序列号
	,isnull(p.fnumber,'') F_VACI_Base_Ysh 	--预算号
	,isnull(dep2.FNUMBER,'') F_VACI_Base_BM		--申请部门
	,case when F_MFSY_RequestType='B' then 'CK009' else  'CK001' end FStockID
	,'PUR_PurchaseOrder' FSrcFormId			--源单类型
	,fin.FBILLNO FSrcBillNo			--源单单号
	,'PUR_PurchaseOrder-PUR_ReceiveBill'		FDetailEntity_Link_FRuleId 				--转换规则
	,'t_PUR_POOrderEntry'		FDetailEntity_Link_FSTableName 			--源单表
	,fin.FID		FDetailEntity_Link_FSBillId 			--源单内码
	,fins.FENTRYID	FDetailEntity_Link_FSId 				--源单分录内码
	,'false' beDelete
from t_PUR_POOrder fin
left join T_PUR_POORDERENTRY fins on fin.fid=fins.FID
left join T_PUR_POENTRYDELIPLAN finp on finp.fentryid=fins.fentryid
left join T_PUR_POORDERENTRY_F finf on finf.fentryid=fins.fentryid
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join mfsy_t_Cust100006 cus on cus.fid=fins.F_PROJIECT
left join T_BAS_PREBDONE p on p.fid=fins.F_QHMX_YSH
left join T_BD_DEPARTMENT dep2 on dep2.FDEPTID=fin.FAPPLICATIONDEPTID
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @FPKIDX

		
END
else if @status='C'		--审核
BEGIN

select 'jdWmsPo' method,'T_PUR_XPOORDER' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,case when FBusinessType='CG' THEN 'CGDD01_SYS'
		  when FBusinessType='WW' then 'CGDD02_SYS' END billTypeCode	--单据类型编码
	,LEFT(FBILLNO, LEN(FBILLNO) - 5) customerBill	--客户单号
	,'true' Effective		--生效标识
	,org.FNUMBER FStockOrgId		--收料组织
	,org.FNUMBER FPurOrgId		--
	,CONVERT(VARCHAR(19), fin.FDATE, 120) Fdate			--订单日期
	,sup.FNUMBER FSupplierId		--供应商
	,isnull(dep.FNUMBER,'') FPurDeptId
	,buy.FNUMBER FPurchaserId
    ,isnull(cus.fnumber,'') F_Projiect1		--项目编码
	,isnull(dep2.FNUMBER,'') F_VACI_Base_BM		--申请部门
	,isnull(sta.FNUMBER,'') FApplicantId		--申请人
	,isnull(sta.FSTAFFNUMBER,'') applicantCode		--申请人(任刚编码，回传用)
	,pay.FNUMBER FPayConditionId		--付款条件
from t_PUR_XPOOrder fin
left join T_PUR_XPOORDERFIN finf on finf.fid=fin.FID
--left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEIDX
left join T_ORG_ORGANIZATIONS org on org.FORGID=fin.FPurchaseOrgId
left join T_BD_SUPPLIER sup on sup.FSUPPLIERID=fin.FSupplierId
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FPurchaseDeptId
left join T_BD_DEPARTMENT dep2 on dep2.FDEPTID=fin.FAPPLICATIONDEPTID
left join T_BD_STAFF sta on sta.FSTAFFID=fin.FAPPLICANTID
left join mfsy_t_Cust100006 cus on cus.fid=fin.F_MFSY_BASE
left join V_BD_BUYER buy on buy.fid=fin.FPurchaserId
left join T_BD_PAYMENTCONDITION pay on pay.fid=finf.FPayConditionId
where 1=0 and FPurchaseOrgId=1   and  fin.FBUSINESSTYPE IN ('CG','WW') 
and fin.fid= @fid

select 
	fins.FPKIDX [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,mal.FSPECIFICATION specifications				--物料规格
	,isnull(CONVERT(VARCHAR(19), FDELIVERYDATE, 120),'') delivery		--交货日期
	,isnull(CONVERT(VARCHAR(19), F_VACI_DATETIME_APV, 120),'')  expectation		--PR期望到货日期
	,isnull(CONVERT(VARCHAR(19), F_VACI_DATE_QTR, 120),'')+''  newexpectation			--PR新期望到货日期
	,u.FNUMBER packageName
	,FQTY Completeqty							--收货完成数量
    ,isnull(cus.fnumber,'')	 F_Projiect			--项目编码
	,FQTY FActReceiveQty			--交货数量
	,FQTY FPriceUnitQty			--计价数量
	,u.fnumber FUnitId					--收料单位
	,u.fnumber FPriceUnitId			--计价单位
	,FTaxPrice 				--含税单价
	,FTAXRATE FEntryTaxRate			--税率
	,FTAXAMOUNT FEntryTaxAmount			--税额
	,isnull(CONVERT(VARCHAR(19), FPREARRIVALDATE, 120),'')  FPreDeliveryDate 		--预计到货日期
	,FGiveAway			--是否赠品
	,isnull(ass.fnumber,'') FAuxPropId			--版本
	,FLot				--批号
	,isnull(cus.F_PJSN,'') F_VACI_Text_qtr		--项目序列号
	,isnull(p.fnumber,'') F_VACI_Base_Ysh 	--预算号
	,isnull(dep2.FNUMBER,'') F_VACI_Base_BM		--申请部门
	,case when F_MFSY_RequestType='B' then 'CK009' else  'CK001' end FStockID
	,'PUR_PurchaseOrder' FSrcFormId			--源单类型
	,fin.FBILLNO FSrcBillNo			--源单单号
	,'PUR_PurchaseOrder-PUR_ReceiveBill'		FDetailEntity_Link_FRuleId 				--转换规则
	,'t_PUR_POOrderEntry'		FDetailEntity_Link_FSTableName 			--源单表
	,fin.FPKIDX		FDetailEntity_Link_FSBillId 			--源单内码
	,fins.FPKIDX	FDetailEntity_Link_FSId 				--源单分录内码
	,case when FCHANGETYPE='C' then 'true' else 'false' end beDelete
from t_PUR_XPOOrder fin
left join T_PUR_XPOORDERENTRY fins on fin.fid=fins.FID
left join T_PUR_XPOENTRYDELIPLAN finp on finp.fentryid=fins.fentryid
left join T_PUR_XPOORDERENTRY_F finf on finf.fentryid=fins.fentryid
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join mfsy_t_Cust100006 cus on cus.fid=fins.F_PROJIECT
left join T_BAS_PREBDONE p on p.fid=fins.F_QHMX_YSH
left join T_BD_DEPARTMENT dep2 on dep2.FDEPTID=fin.FAPPLICATIONDEPTID
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001

where 1=0 and fin.fid= @fid
		
END









END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_PUR_PurchaseOrder]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--采购订单
CREATE PROC  [dbo].[MiFei_PUR_PurchaseOrder]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPo' method,'t_PUR_POOrder' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,case when FBusinessType='CG' THEN 'CGDD01_SYS'
		  when FBusinessType='WW' then 'CGDD02_SYS' END billTypeCode
	,FBILLNO customerBill	--客户单号
	,'true' Effective		--生效标识
	,org.FNUMBER FStockOrgId		--收料组织
	,org.FNUMBER FPurOrgId		--
	,CONVERT(VARCHAR(19), fin.FDATE, 120) Fdate			--订单日期
	,sup.FNUMBER FSupplierId		--供应商
	,isnull(dep.FNUMBER,'') FPurDeptId
	,isnull(buy.FNUMBER,'') FPurchaserId
    ,isnull(cus.fnumber,'') F_Projiect1		--项目编码
	,isnull(dep2.FNUMBER,'') F_VACI_Base_BM		--申请部门
	,isnull(sta.FNUMBER,'') FApplicantId		--申请人
	,isnull(sta.FSTAFFNUMBER,'') applicantCode		--申请人(任刚编码，回传用)
	,pay.FNUMBER FPayConditionId		--付款条件
from t_PUR_POOrder fin
left join T_PUR_POORDERFIN finf on finf.fid=fin.FID
--left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join T_ORG_ORGANIZATIONS org on org.FORGID=fin.FPurchaseOrgId
left join T_BD_SUPPLIER sup on sup.FSUPPLIERID=fin.FSupplierId
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FPurchaseDeptId
left join T_BD_DEPARTMENT dep2 on dep2.FDEPTID=fin.FAPPLICATIONDEPTID
left join T_BD_STAFF sta on sta.FSTAFFID=fin.FAPPLICANTID
left join mfsy_t_Cust100006 cus on cus.fid=fin.F_MFSY_BASE
left join V_BD_BUYER buy on buy.fid=fin.FPurchaserId
left join T_BD_PAYMENTCONDITION pay on pay.fid=finf.FPayConditionId
where 1=0 and FPurchaseOrgId=1   and fin.FBUSINESSTYPE IN ('CG','WW')
and fin.fid= @fid




select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,mal.FSPECIFICATION specifications				--物料规格
	,isnull(CONVERT(VARCHAR(19), FDELIVERYDATE, 120),'') delivery		--交货日期
	,isnull(CONVERT(VARCHAR(19), F_VACI_DATETIME_APV, 120),'')  expectation		--PR期望到货日期
	,isnull(CONVERT(VARCHAR(19), F_VACI_DATE_QTR, 120),'')+''  newexpectation			--PR新期望到货日期
	,u.FNUMBER packageName
	,isnull(cus.fnumber,'')	 F_Projiect			--项目编码
	,case when FMRPTERMINATESTATUS='A' then FQTY else 0 END Completeqty							--收货完成数量
	,case when FMRPTERMINATESTATUS='A' then FQTY else 0 end FActReceiveQty			--交货数量
	,case when FMRPTERMINATESTATUS='A' then FQTY else 0 end  FPriceUnitQty			--计价数量
	,u.fnumber FUnitId					--收料单位
	,u.fnumber FPriceUnitId			--计价单位
	,FTaxPrice 				--含税单价
	,FTAXRATE FEntryTaxRate			--税率
	,FTAXAMOUNT FEntryTaxAmount			--税额
	,isnull(CONVERT(VARCHAR(19), FPREARRIVALDATE, 120),'')  FPreDeliveryDate 		--预计到货日期
	,FGiveAway			--是否赠品
	,isnull(ass.fnumber,'') FAuxPropId			--版本
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	flot			--批号
	,isnull(cus.F_PJSN,'') F_VACI_Text_qtr		--项目序列号
	,isnull(p.fnumber,'') F_VACI_Base_Ysh 	--预算号
	,isnull(dep2.FNUMBER,'') F_VACI_Base_BM		--申请部门
	,case when F_MFSY_RequestType='B' then 'CK009' else  'CK001' end FStockID   --采购申请类型
	,'PUR_PurchaseOrder' FSrcFormId			--源单类型
	,fin.FBILLNO FSrcBillNo			--源单单号
	,'PUR_PurchaseOrder-PUR_ReceiveBill'		FDetailEntity_Link_FRuleId 				--转换规则
	,'t_PUR_POOrderEntry'		FDetailEntity_Link_FSTableName 			--源单表
	,fins.fid		FDetailEntity_Link_FSBillId 			--源单内码
	,fins.FENTRYID	FDetailEntity_Link_FSId 				--源单分录内码
	,'false' beDelete
from t_PUR_POOrder fin
left join T_PUR_POORDERENTRY fins on fin.fid=fins.FID
left join T_PUR_POENTRYDELIPLAN finp on finp.fentryid=fins.fentryid
left join T_PUR_POORDERENTRY_F finf on finf.fentryid=fins.fentryid
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join mfsy_t_Cust100006 cus on cus.fid=fins.F_PROJIECT
left join T_BAS_PREBDONE p on p.fid=fins.F_QHMX_YSH
left join T_BD_DEPARTMENT dep2 on dep2.FDEPTID=fin.FAPPLICATIONDEPTID
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001

where 1=0 and fin.fid= @fid




END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_QM_InspectBill]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--检验单
CREATE PROC  [dbo].[MiFei_QM_InspectBill]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsQuality' method,'T_QM_InspectBill' [table],'fid' tableid
		
select 
top 1
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,fin.FBILLNO customerBill	--客户单号
	,rec.FBILLNO UpstreamNo		--收料通知单号
from T_QM_InspectBill fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join T_QM_INSPECTBILLENTRY fins on fin.fid=fins.fid
left join T_QM_INSPECTBILLENTRY_LK finsl on fins.FENTRYID=finsl.FENTRYID and FSTABLENAME='T_PUR_ReceiveEntry'
left join T_PUR_Receive rec on rec.fid=finsl.FSBILLID
where 1=0 and FINSPECTORGID=1 and fin.FBILLTYPEID='005056c00008baa211e3097d5747706d' and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'') version				--版本
	,u.FNUMBER packageName		--库存单位
	,FINSPECTQTY qty				--检验数量
	,FQUALIFIEDQTY QualifiedQty		--合格数量
	,FUNQUALIFIEDQTY UnqualifiedQty		--不合格数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END Flot		--批次号
from T_QM_InspectBill fin
left join T_QM_InspectBillENTRY fins on fin.fid=fins.FID
left join T_QM_INSPECTBILLENTRY_A fina on fina.FENTRYID=fins.FENTRYID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fina.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid


END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_SAL_DELIVERYNOTICE]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--发货通知单
CREATE PROC  [dbo].[MiFei_SAL_DELIVERYNOTICE]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:出库接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPicket' method,'T_SAL_DELIVERYNOTICE' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,org.fnumber FSaleOrgId
	,org.fnumber FStockOrgId
	,isnull(cus.fnumber,'') FCustId
	,isnull(cusl.FNAME,'') FCustIdname
	,isnull(dep.fnumber,'') FSaleDeptID
	,isnull(s.FNUMBER,'') FSalesManID
	,isnull(dep1.fnumber,'') FDeliveryDeptID
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
	,F_mfsy_SaleType     --销售类型
	,FCarriageNO		--运输单号		
	,F_qaz_SJDDH		--实际订单号
from T_SAL_DELIVERYNOTICE fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join T_ORG_ORGANIZATIONS org on org.FORGID=fin.FSaleOrgId
left join T_BD_CUSTOMER cus on cus.FCUSTID=FIN.FCUSTOMERID
left join T_BD_CUSTOMER_L cusl on cusl.FCUSTID = cus.FCUSTID  and cusl.FLOCALEID=2052
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FSaleDeptID
left join T_BD_DEPARTMENT dep1 on dep1.FDEPTID=fin.FDeliveryDeptID
left join V_BD_SALESMAN s on s.fid=FSalesManID
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
where 1=0 and FSALEORGID=1
and fin.fid= @fid



select 
	fins.Fentryid [lineNo]
	,isnull(cus.fnumber,'') F_Projiect
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'') version				--版本
	,u.FNUMBER packageName		--库存单位
	,FQTY FMustQty
	,FQTY qty				--数量
	,FIsFree 
	,FTaxPrice			--含税单价
	,FTAXRATE FEntryTaxRate   --税率
	,FTAXAMOUNT FEntryTaxAmount			--税额
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	MFSerialNumber		--批次号
	,isnull(s.FNUMBER,'') FStockId			--仓库
	,fins.FDELIVERYLOC location			--库位(一库一仓位，代码处理)
	,isnull(ss.FNAME,'') FStockStatusId 		--库存状态
	,'SAL_DELIVERYNOTICE' FSRCBillTypeId
	,fin.FBILLNO FSRCBillNo 
	,FOrderNo FSoorDerno
	,fin.fid FPURMRBENTRY_Link_FSBillId   --出库申请内码
	,fins.FENTRYID FPURMRBENTRY_Link_FSId   --明细内码
from T_SAL_DELIVERYNOTICE fin
left join T_SAL_DELIVERYNOTICEENTRY fins on fin.fid=fins.FID
left join T_SAL_DELIVERYNOTICEENTRY_F finsf on finsf.FENTRYID=fins.FENTRYID
left join mfsy_t_Cust100006 cus on cus.fid=fins.F_PROJIECT
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSHIPMENTSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.FSHIPMENTSTOCKID in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_STK_MisDelivery]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--其他出库
CREATE PROC  [dbo].[MiFei_STK_MisDelivery]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:出库接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsAsn' method,'T_STK_MisDelivery' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,'QTCKDTH_SYS' billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,isnull(dep.FNUMBER,'') FDEPTID		--部门
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
from T_STK_MisDelivery fin
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FDEPTID
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
where 1=0 and FSTOCKORGID=1
and FSTOCKDIRECT='RETURN'
and fin.fid= @fid



select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,ass.fnumber version				--版本
	,u.FNUMBER packageName		--库存单位
	,FQTY qty				--数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	 MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.FNAME FStockStatusId 		--库存状态
from T_STK_MisDelivery fin
left join T_STK_MISDELIVERYENTRY fins on fin.fid=fins.FID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_STK_OutStockApply]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--出库申请
CREATE PROC  [dbo].[MiFei_STK_OutStockApply]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPicket' method,'T_STK_OutStockApply' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,org.fnumber FStockOrgId
	,isnull(cus.fnumber,'') FCustId
	,isnull(cusl.FNAME,'') FCustIdname
	,dep.fnumber FDeptId
	,isnull(s.FNUMBER,'') FPickerId
	,isnull(s.FSTAFFNUMBER,'') pickerCode
	,'' FStockerId
	,a.fnumber FApplyType
from T_STK_OutStockApply fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join T_ORG_ORGANIZATIONS org on org.FORGID=fin.FStockOrgId
left join T_BD_CUSTOMER cus on cus.FCUSTID=FIN.FCUSTID
left join T_BD_CUSTOMER_L cusl on cusl.FCUSTID = cus.FCUSTID  and cusl.FLOCALEID=2052
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FDEPTID
left join  T_BAS_ASSISTANTDATAentry a on a.fentryid=FApplyType
left join T_BD_STAFF s on s.FSTAFFID=fin.F_VACI_Base_qtr 
where 1=0 and FSTOCKORGID=1
and a.fnumber<>'CKSQLX09_SYS'
and fin.fid= @fid



select 
	fins.Fentryid [lineNo]
	,isnull(cus.fnumber,'') F_Projiect
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'') version				--版本
	,u.FNUMBER packageName		--库存单位
	,FQTY qty				--数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	MFSerialNumber		--批次号
	,isnull(s.FNUMBER,'') FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,isnull(ss.FNAME,'') FStockStatusId 		--库存状态
	,'STK_OutStockApply' FSRCBillTypeId
	,fin.FBILLNO FSRCBillNo 
	,fin.fid FPURMRBENTRY_Link_FSBillId   --出库申请内码
	,fins.FENTRYID FPURMRBENTRY_Link_FSId   --明细内码
from T_STK_OutStockApply fin
left join T_STK_OutStockApplyENTRY fins on fin.fid=fins.FID
left join mfsy_t_Cust100006 cus on cus.fid=fins.F_PROJIECT
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_STK_StockCountGain]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--盘盈
CREATE PROC  [dbo].[MiFei_STK_StockCountGain]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsAsn' method,'T_STK_STKCOUNTGAIN' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,isnull(dep.fnumber,'') FDEPTID		--部门、车间
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
from T_STK_STKCOUNTGAIN fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FDEPTID
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
where 1=0 and FSTOCKORGID=1 and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'')  version				--版本
	,u.FNUMBER packageName		--库存单位
	,FGainQty  qty				--数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.FNAME FStockStatusId 		--库存状态
from T_STK_STKCOUNTGAIN fin
left join T_STK_STKCOUNTGAINENTRY fins on fin.fid=fins.FID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)


END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_STK_StockCOUNTLOSS]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--盘
CREATE PROC  [dbo].[MiFei_STK_StockCOUNTLOSS]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPicket' method,'T_STK_STKCOUNTLOSS' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,isnull(dep.fnumber,'') FDEPTID		--部门、车间
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
from T_STK_STKCOUNTLOSS fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join T_BD_DEPARTMENT dep on dep.FDEPTID=fin.FDEPTID
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
where 1=0 and FSTOCKORGID=1 and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'')  version				--版本
	,u.FNUMBER packageName		--库存单位
	,FLOSSQTY  qty				--数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.FNAME FStockStatusId 		--库存状态
from T_STK_STKCOUNTLOSS fin
left join T_STK_STKCOUNTLOSSENTRY fins on fin.fid=fins.FID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.fstockid in (142896,496164)


END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_STK_TRANSFERIN]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--分布式调入
CREATE PROC  [dbo].[MiFei_STK_TRANSFERIN]
@fid nvarchar(25)--主键

AS
BEGIN


--列1:接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsAsn' method,'T_STK_STKTRANSFERIN' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
	,isnull(dep.fnumber,'') FDEPTID    --调入部门
from T_STK_STKTRANSFERIN fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
left join T_BD_DEPARTMENT dep on dep.fdeptid=fin.FINDEPTID
where 1=0 and FSTOCKORGID=1 and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'')  version				--版本
	,u.FNUMBER packageName		--库存单位
	,FQTY qty				--数量
	,case when FDestLOT_TEXT=' ' then '' else FDestLOT_TEXT END	MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FDestSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.FNAME FStockStatusId 		--库存状态
		
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	 FSrcLot		--批次号
	,s1.FNUMBER FSrcStockId 			--仓库
	,fins.FSrcSTOCKLOCID FSrcStockLocId 			--库位(一库一仓位，代码处理)
	,ss1.FNAME FSrcStockStatusId  		--库存状态
from T_STK_STKTRANSFERIN fin
left join T_STK_STKTRANSFERINENTRY fins on fin.fid=fins.FID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FDESTSTOCKID
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FDestSTOCKSTATUSID and ss.FLOCALEID=2052
left join T_BD_STOCK s1 on s1.FSTOCKID=fins.FSRCSTOCKID
left join T_BD_STOCKSTATUS_L ss1 on ss1.FSTOCKSTATUSID=fins.FSRCSTOCKSTATUSID and ss1.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.FDESTSTOCKID in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_STK_TRANSFEROUT]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--分布式调出
CREATE PROC  [dbo].[MiFei_STK_TRANSFEROUT]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPicket' method,'T_STK_STKTRANSFEROUT' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,isnull(war.FNUMBER,'') FSTOCKERID		--仓管员
from T_STK_STKTRANSFEROUT fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPEID
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
where 1=0 and FSTOCKORGID=1 and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'') version				--版本
	,u.FNUMBER packageName		--库存单位
	,FQty qty				--数量
	,case when FLOT_TEXT=' ' then '' else FLOT_TEXT END	MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSrcStockLocId location			--库位(一库一仓位，代码处理)
	,ss.FNAME FStockStatusId 		--库存状态

	,fins.FDestLot_TEXT FDestLot		--入批次号
	,s1.FNUMBER FDestStockId 			--入仓库
	,fins.FDestStockLocId  			--入库位(一库一仓位，代码处理)
	,ss1.FNAME FDestStockStatusId  		--库存状态

	,FSRCBILLTYPEID
	,FSrcBillNo 
	,'STK_TRANSFERAPPLY-STK_TRANSFEROUT'	 FPURMRBENTRY_Link_FRuleId
	,'T_STK_STKTRANSFERAPPENTRY'			 FPURMRBENTRY_Link_FSTableName 
	,FSBILLID							     FPURMRBENTRY_Link_FSBillId 
	,FSID									 FPURMRBENTRY_Link_FSId 
from T_STK_STKTRANSFEROUT fin
left join T_STK_STKTRANSFEROUTENTRY fins on fin.fid=fins.FID
left join T_STK_STKTRANSFEROUTENTRY_lk finsl on finsl.FENTRYID=fins.FENTRYID
left join T_STK_STKTRANSFEROUTENTRY_R finsc on finsc.FENTRYID=fins.FENTRYID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSrcStockId
left join T_BD_STOCKSTATUS_L ss on ss.FSTOCKSTATUSID=fins.FSrcStockStatusId  and ss.FLOCALEID=2052
left join T_BD_STOCK s1 on s1.FSTOCKID=fins.FDestStockId 
left join T_BD_STOCKSTATUS_L ss1 on ss1.FSTOCKSTATUSID=fins.FDestStockStatusId  and ss1.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
where 1=0 and fin.fid= @fid
and fins.FSrcStockId in (142896,496164)

END
GO
/****** Object:  StoredProcedure [dbo].[MiFei_SUB_PickMtrl]    Script Date: 2026/3/12 11:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--委外领料
CREATE PROC  [dbo].[MiFei_SUB_PickMtrl]
@fid nvarchar(25)--物料主键

AS
BEGIN

--本地案例
--列1:订单接口标记；列2：物料表名；列3：表对应主键
select 'jdWmsPicket' method,'T_SUB_PickMtrl' [table],'fid' tableid
		
select 
	'100' companyCode
	,'SHLG' warehouseCode
	,bi.FNUMBER billTypeCode	--单据类型编码
	,FBILLNO customerBill	--客户单号
	,fin.fid fid		--内码
	,war.FNUMBER FSTOCKERID		--仓管员
	,ISNULL(CUS.FNUMBER,'') F_Projiect
from T_SUB_PickMtrl fin
left join T_BAS_BILLTYPE bi on bi.FBILLTYPEID=fin.FBILLTYPE
left join V_BD_WAREHOUSEWORKERS war on war.fid=fin.FSTOCKERID
left join mfsy_t_Cust100006 cus on cus.fid=fin.F_Projiect
where 1=0 and FSUBORGID=1 and fin.fid= @fid


select 
	fins.Fentryid [lineNo]
	,ma.fnumber itemCode		--物料编码
	,mal.fname itemname			--物料名称
	,isnull(ass.fnumber,'') version				--版本
	,u.FNUMBER packageName		--库存单位
	,FACTUALQTY qty				--数量
	,fins.FLOT_TEXT MFSerialNumber		--批次号
	,s.FNUMBER FStockId			--仓库
	,fins.FSTOCKLOCID location			--库位(一库一仓位，代码处理)
	,ss.FNAME FStockStatusId 		--库存状态、

	,mp.fnumber        FParentMaterialId
	,u.FNUMBER         FUnitId
	,u1.FNUMBER        FSTOCKUNITID
	,fAppQty
	,FStockActualQty
	,finsa.FOwnerTypeId
	,FParentOwnerTypeId
	,org.fnumber      FOwnerId
	,org1.fnumber      FParentOwnerId
	
	,FSrcInterId 
	,FSrcEntryId 
	,FSubReqId 
	,FSubReqEntryId 
	,FPPbomBillNo 
	,FPPbomEntryId 

	,FSrcBillType
	,FSrcBillNo 
	,FSrcEntrySeq  
	,FSubReqBillNo		FMoBillNo		--委外订单->生产订单编号
	,FSubReqEntrySeq	FMoEntrySeq		--委外订单行号->生产订单行号
	,FPOOrderBillNo		FReqBillNo		--采购订单->需求单据
	,FPOOrderSeq		FReqEntrySeq	--采购订单行号->需求单据行号
	,'SUB_PPBOM_Pick'		FPURMRBENTRY_Link_FRuleId
	,'T_SUB_PPBOMENTRY'		FPURMRBENTRY_Link_FSTableName 
	,FSBILLID				FPURMRBENTRY_Link_FSBillId 
	,FSID					FPURMRBENTRY_Link_FSId 
from T_SUB_PickMtrl fin
left join T_SUB_PICKMTRLDATA fins on fin.fid=fins.FID
left join T_SUB_PICKMTRLDATA_a finsa on finsa.FENTRYID=fins.FENTRYID
left join T_SUB_PICKMTRLDATA_lk finsl on finsl.FENTRYID=fins.FENTRYID
left join T_BD_MATERIAL ma on ma.FMATERIALID=fins.FMATERIALID
left join T_BD_MATERIAL_L mal on mal.FMATERIALID=ma.FMATERIALID and mal.FLOCALEID=2052
left join T_BD_MATERIAL mp on mp.FMATERIALID=FParentMaterialId
left join T_BD_UNIT u on u.FUNITID=fins.FUNITID
left join T_BD_UNIT u1 on u1.FUNITID=fins.FSTOCKUNITID
left join T_BD_STOCK s on s.FSTOCKID=fins.FSTOCKID
left join T_BD_STOCKSTATUS_l ss on ss.FSTOCKSTATUSID=fins.FStockStatusId and ss.FLOCALEID=2052
left join T_BD_FLEXSITEMDETAILV fle on fle.fid=FAuxPropId
left join T_BAS_AssistantDataEntry ass on ass.fentryid=fle.FF100001
left join T_ORG_ORGANIZATIONS org on org.FORGID=finsa.FOwnerId
left join T_ORG_ORGANIZATIONS org1 on org1.FORGID=finsa.FParentOwnerId


where 1=0 and fin.fid= @fid
and fins.FStockId in (142896,496164)

END
GO
