
GO
/****** Object:  Table [dbo].[MiFei_logs]    Script Date: 2026/3/11 10:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiFei_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fromid] [nvarchar](50) NULL,
	[fnumber] [nvarchar](50) NULL,
	[reqjson] [nvarchar](max) NULL,
	[respjson] [nvarchar](max) NULL,
	[reqdate] [nvarchar](50) NULL,
 CONSTRAINT [PK_MingMai_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

